
<h1>Create a Team and Heroes!</h1>

<form action = "/superhero" method="post">
  <p>Team Name:<input type = "text" name = "team[name]"></p>
  <p>Team Motto:<input type = "text" name = "team[Motto]"></p>

  <h2>Hero 1</h2>
  <p>Hero's Name: <input type = "text" name = "team[name][][hero][name]"></p>
  <p>Hero's Power: <input type = "text" name = "team[name][][hero][power]"></p>
  <p>Hero's Biography: <input type = "text" name = "team[name][][hero][biography]"></p>

</form>